/*

!README.md

!/.config/
/.config/*

!/.emacs.d/
!/.emacs.d/**

!/.config/nvim/
!/.config/nvim/**

!/.config/ghostty/
!/.config/ghostty/**

!/.config/tmux/
!/.config/tmux/**
/.config/tmux/plugins/

!/.config/ruff/
!/.config/ruff/**

!/.zshrc
!/.p10k.zsh

!/.gitignore
